# Firebase 配置
VITE_FIREBASE_API_KEY=AIzaSyDqiVItIUKXSqyBtqLqZTXJIAWPME7-hq8
VITE_FIREBASE_AUTH_DOMAIN=ff14-hunt-finder-bd466.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ff14-hunt-finder-bd466
VITE_FIREBASE_STORAGE_BUCKET=ff14-hunt-finder-bd466.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1070892149299
VITE_FIREBASE_APP_ID=1:1070892149299:web:966fc39ab19a8e4d30d146

# 應用配置
VITE_APP_ID=ff14-hunt-finder-bd466
VITE_APP_NAME=FF14 Hunt Cloud
VITE_APP_VERSION=1.0.0

# 開發環境配置
VITE_DEBUG=false
